<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col">
                    <form>
                        <div class="mb-3">
                            <label for="Kitabinadi"
                                class="form-label">Kitabın Adı</label>
                            <input type="text" class="form-control "
                                id="book-name"
                                aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text"></div>
                        </div>
                        <div class="mb-3">
                            <label for="Kitabinyazari1"
                                class="form-label">Kitabın Yazarı</label>
                            <input type="text" class="form-control"
                                id="book-author">
                        </div>
                        <div class="mb-3">
                            <label for="Kitabinsayfasi1"
                                class="form-label">Kitabın Sayfası</label>
                            <input type="number" class="form-control"
                                id="book-page">
                        </div>

                        <button onclick="addBook(event)" type="submit"
                            class="btn
                            btn-primary">Ekle</button>
                    </form>

                    <form>
                        <div class="mb-3">
                            <label for=""
                                class="form-label">Sayfa Sayısı</label>
                            <input type="number" class="form-control"
                                id="page-number">
                        </div>
                        <button onclick="bookFilter(event)" type="submit"
                            class="btn
                            btn-primary">Filtrele</button>


                    </form>
                    <form>
                        <div class="mb-3">
                            <label for=""
                                class="form-label">Kitap Adı</label>
                            <input type="text" class="form-control"
                                id="bookk-name">
                        </div>
                        <button onclick="nameFilter(event)" type="submit"
                            class="btn
                            btn-primary">Filtrele</button>

                    </form>
                </div>
            </div>
        </div>



        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"
            integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="../Public/js/destruct.js"></script>

    </body>
</html>